<html>
    <head>
        <title>To do list app</title>
        <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
      />
        <script src="https://kit.fontawesome.com/e178782a14.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <div id = "container">
            <header>
                <div class = "headerText">My TODO List</div>
                <div id = "toggle" class="toggleButton">
                    <i class="fas fa-plus <%=rotateAngle%>"></i>
                </div>
                
            </header>
            <div id = "inputSection" class="<%=animateType%>">
               <form action="/add-todolist" method="post">
                    <table>
                        <tr>
                            <th class="inputLabel">Category</th>
                            <th class="inputLabel">Title</th>
                            <th class="inputLabel">Date</th>
                        </tr>
                        <tr>
                            <td>
                               <select name="category" id="category" required>
                                   <option value="SCHOOL">SCHOOL</option>
                                   <option value="WORK">WORK</option>
                                   <option value="SPORTS">SPORTS</option>
                                   <option value="MUSIC">MUSIC</option>
                                   <option value="SHOPPING">SHOPPING</option>

                               </select>
                            </td>
                            <td>
                                <input type="text" name="title" required>
                            </td>
                            <td>
                                <input type="date" name="date" required>
                            </td>
                        </tr>
                        <tr>
                            <th class="inputLabel title-description">Description</th>
                        </tr>
                        <tr>
                           <td colspan="3">
                            <input type="text" name="description" class="input-description" required>
                           </td>
                        </tr>
                        
                        <tr>
                            <td colspan="3" class="text-align-center">
                                <button type="submit" class="add-btn">
                                    ADD
                                </button>
                            </td>

                        </tr>
                    </table>
               </form>
            </div>
            <div id = "delete-tasks" class = "list-header">
                   <span class="list-heading">
                          Select tasks to delete
                   </span>
            </div>
            <div class="d-flex justify-center">
                  <button type="submit" class="add-btn" form="checkbox-form">
                       Delete tasks &ensp;
                       <i class="fas fa-trash-alt"></i>
                </button>
            </div>
            <div id = "lists">
                <div class = "list-header">
                    <span class = "list-heading"> Pending Tasks</span>
                </div>
                <ul>
                    <form action="/checkbox-input" method="post" id = "checkbox-form">
                    <%for(let i of todolist){%>
                    <li class = "list-item">
                            <div class = "checkbox">
                                <input type="checkbox" name = "checkbox" value = "<%=i._id%>">
                            </div>
                        <div class = "category">
                            <span><%=i.category%></span>
                        </div>
                        <div class = "item-info">
                            <span class = "title"><%=i.title%></span> <br>
                            <span class = "description-text"><%=i.description%></span>
                        </div>
                        <div class = "date">
                            <i class="fas fa-calendar-day"></i>
                            <%=
                            i.date.toString().slice(0,15)
                            %>
                        </div>
                    </li>
                    <%}%>
                    </form>
                </ul>

            </div>

        </div>
    </body>
    <script src="/js/home.js"></script>
</html>